{% if site.data.services %}
<h2>Services</h2>

{% for group in site.data.services.main %}
  {% if group.items.size > 0 %}
  <h4 class="service-group-title">{{ group.title }}</h4>
  <ul class="service-list">
    {% for position in group.items %}
    <li class="service-item">
      {% if position.link %}
        <a href="{{ position.link }}" class="service-venue"><autocolor>{{ position.title }}</autocolor></a>
      {% else %}
        <span class="service-venue">{{ position.title }}</span>
      {% endif %}
      {% if position.year %}<span class="service-year">{{ position.year }}</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
{% endif %}
