<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site.avatar %}
        <div class="author-image">
          <img src="{{ site.avatar | relative_url }}" alt="{{ site.title }}" class="img-fluid rounded-circle">
        </div>
      {% endif %}
      
      <h2>{{ site.title }}</h2>
      
      <p class="lead">
        {{ site.position }}<br>
        {{ site.affiliation }}<br>
        <span style="font-size: 0.8em;">{{ site.email }}</span>
      </p>
    </div>

    <nav class="sidebar-nav">
      {% if site.google_scholar %}
      <a class="sidebar-nav-item" href="{{ site.google_scholar }}" target="_blank">
        <i class="ai ai-google-scholar ai-2x"></i>
      </a>
      {% endif %}

      {% if site.cv_link %}
      <a class="sidebar-nav-item" href="{{ site.cv_link | relative_url }}" target="_blank">
        <i class="ai ai-cv ai-2x"></i>
      </a>
      {% endif %}

      {% if site.github_link %}
      <a class="sidebar-nav-item" href="{{ site.github_link }}" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
      {% endif %}

      {% if site.openreview_link %}
      <a class="sidebar-nav-item" href="{{ site.openreview_link }}" target="_blank" title="OpenReview">
        <i class="ai ai-openreview ai-2x"></i>
      </a>
      {% endif %}

      {% if site.bearblog_link %}
      <a class="sidebar-nav-item" href="{{ site.bearblog_link }}" target="_blank" title="Bearblog">
        <i class="fas fa-pen-nib fa-2x"></i>
      </a>
      {% endif %}
      
      {% if site.linkedin %}
      <a class="sidebar-nav-item" href="{{ site.linkedin }}" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      {% endif %}

      {% if site.twitter %}
      <a class="sidebar-nav-item" href="{{ site.twitter }}" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      {% endif %}
    </nav>
  </div>
</div>
